<div class="out">
    <div>
        <img class="image2" src='' alt="" />
    </div>
    <div>
        <div class="divOut"><b>Title:</b> Title</div>
        <div class="divOut"><b>Genre:</b> Genre</div>
        <div class="divOut"><b>Starring:</b> Starring</div>
        <div class="divOut"><b>Country:</b> Country</div>
        <div class="divOut"><b>Time:</b> Time</div>
        <div class="divOut"><b>Premiere:</b> Premiere</div>
        <div class="divOut"><b>Description:</b> Description</div>
        <div><button (click)="info()" style='font-size: 120%'>Back</button></div>
        <div><button style='font-size: 120%'>Favorite</button></div>
    </div>       
</div>