.out{
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(66, 66, 246);
    margin: 20px;
    padding: 20px;
  
  }
  .image2{
    width: 400px;
  }
  .divOut{
    margin-top: 10px;
  }