<div class="container">
  <h3>
    <pre>
      Задание:  
      1) Создайте React приложение, отображающее события (концерты, спектакли, кино, и т.д.) в вашем городе. 
      События должны быть поделены по категориям. При клике на конкретном событии должна отображаться информация 
      об событии. Должна быть возможность добавить событие в список избранных событий. Необходимо при создании
      приложения использовать компоненты, props, state, маршруты (redux по желанию)

      2) На Angular реализоваь точно такое же приложение, но без маршрутов

      3) Реализовать точно такое же приложение на чистом JS
          *почитать про уровни абстракции и максимально их использовать

    </pre>
  </h3>    

  <div class="header">
      <div>
          <h1 class="headerH1">Афиша Ижевска</h1>
      </div>
      <form id="searchForm" action="">
          <button (click)="getCinema()" class="myButton" id="cinema">Cinema</button>                    <!-- кнопка вызова фильмов -->
          <button (click)="getPerformance()" class="myButton" id="performance">Performance</button>     <!-- кнопка вызова спектаклей -->
          <button (click)="getConcert()" class="myButton" id="concert">Concert</button>                 <!-- кнопка вызова концертов -->
          <button (click)="getFavorites()" class="myButton" id="favorites">&#10084; Favorites</button>  <!-- кнопка вызова избранного -->
      </form>
  </div>

  <div>
      <div *ngIf="myCinema" class="imageBox">
        <app-film 
          *ngFor="let iterCinema of movies; let idxCinema=index" 
          [ev]="iterCinema" 
          [index]="idxCinema">                
        </app-film>
      </div>

      <div *ngIf="myPerformance" class="imageBox">
        <app-teatr 
          *ngFor="let iterPerformance of theatres; let idxPerformance=index" 
          [ev]="iterPerformance" 
          [index]="idxPerformance">                
        </app-teatr>
      </div>

      <div *ngIf="myConcert" class="imageBox">
        <app-music 
          *ngFor="let iterConcert of musics; let idConcert=index" 
          [ev]="iterConcert" 
          [index]="idConcert">                
        </app-music>
      </div>
</div>